/* @media  {
  .containerLabel {
    display: flex;
    justify-content: center;
    width: auto;
    min-width: 100px;
  }
} */

.form-label {
  min-height: 30px;
  height: auto;
  max-height: inherit;
}

.componentForm.rangeForm {
  height: auto;
  min-width: 205px;
  max-width: initial;
  min-height: 40px;
  font-size: 20px;
  text-align: center;
  color: var(--bs-body-bg);
  position: sticky;
}

.form-label-title {
  font-size: 16.5px;
  font-weight: bold;
}

.fieldIp {
  text-align: center;
}

.containerExecutiveLed {
  /*border: 6px solid var(--bs-body-bg) ;*/
  /*border-radius: 19px;*/
  /*justify-content: center;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  margin: 6px;
  padding: 16px;
  /*width: auto;*/
  /*height: inherit;*/
  /*max-width: auto;*/
}

.containerAction {
  border: 6px solid var(--bs-body-bg) ;
  border-radius: 19px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: 16px;
  width: auto;
  height: inherit;
  /*max-width: auto;*/
}

.elementEsp32 {
  margin-left: 1px;
  margin-right: 1px;
}

.panelConnections {
  border: 5px;
  border-radius: 30px;
}

.esp32PanelConnection {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden{
  display: none;
}

.indicator-UNKNOWN{
  background-color: gray;
}

.indicator-OFFLINE{
  background-color: rgb(82, 0, 7);
}

.indicator-ONLINE{
  background-color: rgb(5, 141, 39);
}




