@media  {
  .containerLabel {
    display: flex;
    justify-content: center;
    width: auto;
    min-width: 100px;
  }
}

.form-label {
  min-height: 30px;
  height: auto;
  max-height: inherit;
}

.componentForm.rangeForm {
  height: auto;
  min-width: 205px;
  max-width: initial;
  min-height: 40px;
  font-size: 20px;
  text-align: center;
  color: var(--bs-body-bg);
  position: sticky;
}

.form-label-title {
  font-size: 16.5px;
  font-weight: bold;
}

.fieldIp {
  text-align: center;
}

.containerExecutiveLed {
  /*border: 6px solid var(--bs-body-bg) ;*/
  /*border-radius: 19px;*/
  /*justify-content: center;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  margin: 6px;
  padding: 16px;
  /*width: auto;*/
  /*height: inherit;*/
  /*max-width: auto;*/
}

.containerSetLedEffect {
  border: 6px solid var(--bs-body-bg) ;
  border-radius: 19px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: 16px;
  width: auto;
  height: inherit;
  /*max-width: auto;*/
}

